body {
  background: #0e0e12;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.box {
  max-width: 420px;
  margin: 40px auto;
  background: #16161d;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
}

h1, h2 {
  margin-bottom: 10px;
}

.desc {
  color: #aaa;
  margin-bottom: 20px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00ffae;
}

label {
  display: block;
  margin-bottom: 6px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

.choose {
  margin: 20px 0 10px;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.socials {
  margin-top: 20px;
}

.socials a {
  color: #00c3ff;
  margin: 0 10px;
  text-decoration: none;
}

#qr {
  margin: 20px auto;
  display: block;
}

.timer {
  margin-top: 15px;
  color: #ff6464;
  font-weight: bold;
}
